@font-face {
  font-family: 'Baloo Bhaijaan';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/baloobhaijaan/v16/RWmRoKCU5fcqq8fOWNzFLqSjx7EFLGE.ttf) format('truetype');
}
@font-face {
  font-family: 'Consolas';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=X7nm4bA-A_-9jbjWaza9xMw&skey=3d1eb1871fcc58a1&v=v19) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/inconsolata/v31/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp4U8WR32kg.ttf) format('truetype');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_DjQbMZhKg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aX8.ttf) format('truetype');
}
@font-face{font-weight:400;font-style:normal;font-family:'方正像素12';src:url("fzxs12.ttf") format("truetype");}
